Host *
    ForwardAgent yes
    TCPKeepAlive yes
    ServerAliveInterval 300
    User core
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host swarm-*
    ProxyCommand ssh -W %h:%p core@169.45.125.53

Host deis-*
    ProxyCommand ssh -W %h:%p core@169.45.125.52

Host swarm
    Hostname 169.45.125.53

Host deis
    Hostname 169.45.125.52

Host swarm-2
    Hostname 192.168.100.6

Host swarm-0
    Hostname 192.168.100.5

Host swarm-1
    Hostname 192.168.100.4

Host deis-0
    Hostname 192.168.100.9

Host deis-1
    Hostname 192.168.100.8

